.aside-nav
  %aside.side-nav{:role => "navigation", :"aria-label" => "Side Navigation"}
    %ul.side-nav-group
      %li.side-nav-item
        = link_to 'Overview', '/'
        %ul
          %li.side-nav-inner-item
            = link_to 'Overview', '/'
          %li.side-nav-inner-item
            = link_to 'Usability', '/foundations/index.html'
          %li.side-nav-inner-item
            = link_to 'Semantic HTML', '/foundations/semantic.html'
          %li.side-nav-inner-item
            = link_to 'ARIA', '/foundations/aria.html'
          %li.side-nav-inner-item
            = link_to 'JavaScript', '/foundations/js.html'
          %li.side-nav-inner-item
            = link_to 'Keyboard', '/foundations/keyboard.html'
      %li.side-nav-item
        = link_to 'Design', '/design/index.html'
        %ul
          %li.side-nav-inner-item
            = link_to 'Design', '/design/index.html'
          %li.side-nav-inner-item
            = link_to 'Typography', '/design/font.html'
          %li.side-nav-inner-item
            = link_to 'Contrast & Color', '/design/color.html'
          %li.side-nav-inner-item
            = link_to 'Animations & Parallax', '/design/animations.html'
      %li.side-nav-item
        = link_to 'Code', '/code/index.html'
        %ul
          %li.side-nav-inner-item
            = link_to 'Code', '/code/index.html'
          %li.side-nav-inner-item
            = link_to 'Code', '/code/buttons.html'
          %li.side-nav-inner-item
            = link_to 'Search', '/code/search.html'
          %li.side-nav-inner-item
            = link_to 'Tables', '/code/tables.html'
          %li.side-nav-inner-item
            = link_to 'Alerts', '/code/alerts.html'
          %li.side-nav-inner-item
            = link_to 'Calendars', '/code/calendars.html'
          %li.side-nav-inner-item
            %a{:href => "/code/svg"} SVG &amp; Icon Fonts
          %li.side-nav-inner-item
            %a{:href => "/code/carousels"} Carousels
          %li.side-nav-inner-item
            %a{:href => "/code/skip-link"} Skip Link
          %li.side-nav-inner-item
            %a{:href => "/code/navigation"} Navigation
          %li.side-nav-inner-item
            %a{:href => "/code/forms"} Forms &amp; Form Validation
          %li.side-nav-inner-item
            %a{:href => "/code/accordions"} Accordions
          %li.side-nav-inner-item
            %a{:href => "/code/tabs"} Tabs
          %li.side-nav-inner-item
            %a{:href => "/code/dialogs"} Modals
          %li.side-nav-inner-item
            %a{:href => "/code/flash"} Flash
      %li.side-nav-item
        %a{:href => "/content/"} Content
        %ul
          %li.side-nav-inner-item
            %a{:href => "/content/"} Overview
          %li.side-nav-inner-item
            %a{:href => "/content/copywriting"} Copywriting
          %li.side-nav-inner-item
            %a{:href => "/content/buttons"} Links &amp; Buttons
          %li.side-nav-inner-item
            %a{:href => "/content/images"} Images
          %li.side-nav-inner-item
            %a{:href => "/content/audio-video"} Multimedia
          %li.side-nav-inner-item
            %a{:href => "/content/maps"} Maps
          %li.side-nav-inner-item
            %a{:href => "/content/pdfs"} PDFs &amp; Alternatives
          %li.side-nav-inner-item
            %a{:href => "/content/third-party"} Third Party Embeds
          %li.side-nav-inner-item
            %a{:href => "/content/cognitive"} Cognitive Disabilities
      %li.side-nav-item
        %a{:href => "/resources"} Resources
        %ul
          %li.side-nav-inner-item
            %a{:href => "/resources"} Testing Tools
          %li.side-nav-inner-item
            %a{:href => "/resources/screenreaders"} How to: Screenreaders
          %li.side-nav-inner-item
            %a{:href => "/resources/resources"} Source Material &amp; Resources
