.aside-nav
  %aside.side-nav{:role => "navigation", :"aria-label" => "Side Navigation"}
    %ul.side-nav-group
      %li.side-nav-item
        = link_to 'Foundations', '/index.html'
        %ul
          %li.side-nav-inner-item
            = link_to 'Overview', '/index.html'
          %li.side-nav-inner-item
            = link_to 'Usability', '/foundations/index.html'
          %li.side-nav-inner-item
            = link_to 'Semantic HTML', '/foundations/semantic.html'
          %li.side-nav-inner-item
            = link_to 'ARIA', '/foundations/aria.html'
          %li.side-nav-inner-item
            = link_to 'JavaScript', '/foundations/js.html'
          %li.side-nav-inner-item
            = link_to 'Keyboard', '/foundations/keyboard.html'
      %li.side-nav-item
        = link_to 'Design', '/design/index.html'
        %ul
          %li.side-nav-inner-item
            = link_to 'Overview', '/design/index.html'
          %li.side-nav-inner-item
            = link_to 'Typography', '/design/font.html'
          %li.side-nav-inner-item
            = link_to 'Contrast & Color', '/design/color.html'
          %li.side-nav-inner-item
            = link_to 'Animations & Parallax', '/design/animations.html'
      %li.side-nav-item
        = link_to 'Code', '/code/index.html'
        %ul
          %li.side-nav-inner-item
            = link_to 'Overview', '/code/index.html'
          %li.side-nav-inner-item
            = link_to 'Buttons', '/code/buttons.html'
          %li.side-nav-inner-item
            = link_to 'Search', '/code/search.html'
          %li.side-nav-inner-item
            = link_to 'Tables', '/code/tables.html'
          %li.side-nav-inner-item
            = link_to 'Alerts', '/code/alerts.html'
          %li.side-nav-inner-item
            = link_to 'Calendars', '/code/calendars.html'
          %li.side-nav-inner-item
            = link_to 'SVG &amp; Icon Fonts', "/code/svg.html"
          %li.side-nav-inner-item
            = link_to  'Carousels', "/code/carousels.html"
          %li.side-nav-inner-item
            = link_to  'Skip Link', "/code/skip-link.html"
          %li.side-nav-inner-item
            = link_to  'Navigation', "/code/navigation.html"
          %li.side-nav-inner-item
            = link_to  'Forms &amp; Form Validation', "/code/forms.html"
          %li.side-nav-inner-item
            = link_to  'Accordions', "/code/accordions.html"
          %li.side-nav-inner-item
            = link_to  'Tabs', "/code/tabs.html"
          %li.side-nav-inner-item
            = link_to  'Modals', "/code/dialogs.html"
          %li.side-nav-inner-item
            = link_to  "Flash", "/code/flash.html"

      %li.side-nav-item
        = link_to 'Content', "/content/index.html"
        %ul
          %li.side-nav-inner-item
            = link_to  'Overview', "/content/index.html"
          %li.side-nav-inner-item
            = link_to  'Copywriting', "/content/copywriting.html"
          %li.side-nav-inner-item
            = link_to  'Links &amp; Buttons', "/content/buttons.html"
          %li.side-nav-inner-item
            = link_to  'Images', "/content/images.html"
          %li.side-nav-inner-item
            = link_to  'Multimedia', "/content/audio-video.html"
          %li.side-nav-inner-item
            = link_to  'Maps', "/content/maps.html"
          %li.side-nav-inner-item
            = link_to  'PDFs &amp; Alternatives', "/content/pdfs.html"
          %li.side-nav-inner-item
            = link_to  'Third Party Embeds', "/content/third-party.html"
          %li.side-nav-inner-item
            = link_to  'Cognitive Disabilities', "/content/cognitive.html"
      %li.side-nav-item
        = link_to  'Resources', "/resources/index.html"
        %ul
          %li.side-nav-inner-item
            = link_to  'Testing Tools', "/resources/index.html"
          %li.side-nav-inner-item
            = link_to  'How to: Screenreaders', "/resources/screenreaders.html"
          %li.side-nav-inner-item
            = link_to  'Source Material &amp; Resources', "/resources/resources.html"
