%nav.primary-navigation{role: "navigation", :"aria-label" => "Mobile Accesibility Navigation Dropdown"}
  %ul.navigation-item-group
    %li.nav-item= link_to 'Semantic HTML', '/'
    %li.nav-item= link_to 'Font &amp; Font Size', '/font'
    %li.nav-item= link_to 'Contrast &amp; Color', '/color'
    %li.nav-item= link_to 'Forms &amp; Form Validation', '/forms'
    %li.nav-item= link_to 'ARIA', '/aria'
    %li.nav-item= link_to 'Images', '/images'
    %li.nav-item= link_to 'Audio &amp; Video', 'audio-video'
    %li.nav-item= link_to 'Blinking, Parallax Effects', '/seizures'
    %li.nav-item= link_to 'Alerts &amp; Modals', '/alerts-dialogs'
    %li.nav-item= link_to 'Buttons', '/buttons'
    %li.nav-item= link_to 'Links', '/links'
    %li.nav-item= link_to 'Tables', '/tables'
    %li.nav-item= link_to 'Skip Link', '/skip-link'
    %li.nav-item= link_to 'Navigation', '/navigation'
    %li.nav-item= link_to 'Accordions &amp; Tabs', '/accordions-tabs'
    %li.nav-item= link_to 'Tools &amp; Resources', '/resources'
